Repository alpaka-group/alpaka, pull requests merged in 2022-03, with the labels that each got.

#1616 Test nvcc 11.6 in CI
  .github/workflows/ci.yml
  .gitlab-ci.yml
  README.md
  script/gitlabci/job_cuda11.6.yml
  script/install_cuda.sh
Labels: Type:Testing, Backend:CUDA

#1621 Update cuda installers
  script/install_cuda.sh
Labels: Backend:CUDA, Type:Install

#1622 Make alpaka_BUILD_EXAMPLES and alpaka_INSTALL_TEST_HEADER uppercase
  CMakeLists.txt
  docs/source/advanced/cmake.rst
  example/bufferCopy/CMakeLists.txt
  example/heatEquation/CMakeLists.txt
  example/helloWorld/CMakeLists.txt
  example/helloWorldLambda/CMakeLists.txt
  example/kernelSpecialization/CMakeLists.txt
  example/monteCarloIntegration/CMakeLists.txt
  example/openMPSchedule/CMakeLists.txt
  example/randomCells2D/CMakeLists.txt
  example/randomStrategies/CMakeLists.txt
  example/reduce/CMakeLists.txt
  example/vectorAdd/CMakeLists.txt
Labels: Type:CMake

#1627 Remove incompatible clang + CUDA combinations
  README.md
  script/gitlabci/job_cuda11.3.yml
  script/gitlabci/job_cuda11.4.yml
  script/gitlabci/job_cuda11.5.yml
Labels: Type:Bug, Type:Testing, Backend:CUDA

#1624 Fix SYCL buffer construction
  include/alpaka/mem/buf/BufGenericSycl.hpp
Labels: Type:Bug, Backend:SYCL

#1632 Do not throw in destructors
  include/alpaka/core/UniformCudaHip.hpp
  include/alpaka/event/EventUniformCudaHipRt.hpp
  include/alpaka/kernel/TaskKernelGpuUniformCudaHipRt.hpp
  include/alpaka/mem/buf/BufCpu.hpp
  include/alpaka/queue/cuda_hip/QueueUniformCudaHipRtBase.hpp
  include/alpaka/test/event/EventHostManualTrigger.hpp
Labels: Type:Enhancement, Type:Refactoring, Backend:CUDA, Backend:HIP

#1639 Check that Vec is trivially_copyable
  test/unit/vec/src/VecTest.cpp
Labels: Type:Testing

#1637 Merge HIP rows in `README.md`
  README.md
Labels: Type:Enhancement, Type:Documentation, Backend:HIP

#1640 Retry downloading boost
  script/install_boost.sh
Labels: Type:Enhancement, Type:Testing

#1638 CI version updates
  .github/workflows/ci.yml
  README.md
Labels: Type:Enhancement, Type:Testing, OS:macOS, Type:CMake

#1645 Deprecate `alpaka::clock()`
  include/alpaka/time/Traits.hpp
  test/unit/time/CMakeLists.txt
Labels: Backend:CUDA, Backend:OpenMP, Backend:TBB, Backend:Boost.Fiber, Backend:std::thread, Backend:OpenACC, Backend:HIP, Backend:Serial

#1649 CI CMake version update
  .github/workflows/ci.yml
  script/gitlabci/job_cuda10.0.yml
  script/gitlabci/job_cuda10.1.yml
  script/gitlabci/job_cuda10.2.yml
  script/gitlabci/job_cuda11.0.yml
  script/gitlabci/job_cuda11.1.yml
  script/gitlabci/job_cuda11.2.yml
  script/gitlabci/job_cuda11.3.yml
  script/gitlabci/job_cuda11.4.yml
  script/gitlabci/job_cuda11.5.yml
  script/gitlabci/job_cuda11.6.yml
  script/gitlabci/job_cuda9.2.yml
  script/gitlabci/job_hip4.2.yml
  script/gitlabci/job_hip4.3.yml
  script/gitlabci/job_hip4.5.yml
Labels: Type:Testing, Type:CMake

#1644 Refactor `getWarpSize` to `getWarpSizes` and return `std::vector<std::size_t>`
  include/alpaka/dev/DevCpu.hpp
  include/alpaka/dev/DevGenericSycl.hpp
  include/alpaka/dev/DevOacc.hpp
  include/alpaka/dev/DevOmp5.hpp
  include/alpaka/dev/DevUniformCudaHipRt.hpp
  include/alpaka/dev/Traits.hpp
  test/unit/dev/src/DevWarpSizeTest.cpp
  test/unit/warp/src/Activemask.cpp
  test/unit/warp/src/All.cpp
  test/unit/warp/src/Any.cpp
  test/unit/warp/src/Ballot.cpp
  test/unit/warp/src/GetSize.cpp
  test/unit/warp/src/Shfl.cpp
Labels: Type:Enhancement, Type:Refactoring, Type:Testing, Backend:CUDA, Backend:OpenMP, Backend:TBB, Backend:Boost.Fiber, Backend:std::thread, Backend:OpenACC, Backend:SYCL, Backend:HIP, Backend:Serial

#1650 Complete renaming: `alpaka_BUILD_EXAMPLES` -> `ALPAKA_BUILD_EXAMPLES`
  README_OACC.md
  README_OMP5.md
  docs/source/basic/install.rst
  script/run_generate.sh
Labels: Type:Bug, Type:Testing, Backend:OpenMP, Backend:OpenACC, Type:CMake

#1652 Fix the host-only compilation for the HIP backend
  include/alpaka/core/CudaHipMath.hpp
  include/alpaka/core/Hip.hpp
Labels: Type:Refactoring, Backend:HIP

#1654 Enforce trivially copyable kernel function objects
  example/helloWorld/src/helloWorld.cpp
  example/helloWorldLambda/src/helloWorldLambda.cpp
  include/alpaka/kernel/TaskKernelGenericSycl.hpp
  include/alpaka/kernel/Traits.hpp
  test/unit/kernel/src/KernelLambda.cpp
  test/unit/kernel/src/KernelStdFunction.cpp
Labels: Type:Enhancement, Type:Refactoring

#1655 CMake: rename `USE_alpaka_*` to `alpaka_USE_*`
  example/bufferCopy/CMakeLists.txt
  example/heatEquation/CMakeLists.txt
  example/helloWorld/CMakeLists.txt
  example/helloWorldLambda/CMakeLists.txt
  example/kernelSpecialization/CMakeLists.txt
  example/monteCarloIntegration/CMakeLists.txt
  example/openMPSchedule/CMakeLists.txt
  example/randomCells2D/CMakeLists.txt
  example/randomStrategies/CMakeLists.txt
  example/reduce/CMakeLists.txt
  example/vectorAdd/CMakeLists.txt
Labels: Type:Refactoring, Type:CMake

#1660 Fix typo in `core/CudaHipMath.hpp`
  CHANGELOG.md
  include/alpaka/core/CudaHipMath.hpp
Labels: Type:Bug, Backend:HIP

#1629 Docs: GTC 2016 Persistent Archive
  README.md
Labels: Type:Documentation

#1669 fix Sphinx documentation
  docs/requirements.txt
Labels: Type:Bug, Type:Documentation

#1668 Merge CudaHipMath back into MathUniformCudaHipBuiltIn
  include/alpaka/core/CudaHipMath.hpp
  include/alpaka/math/MathUniformCudaHipBuiltIn.hpp
Labels: Type:Refactoring, Backend:CUDA, Backend:HIP

#1663 Do not use hipLaunchKernelGGL
  include/alpaka/kernel/TaskKernelGpuUniformCudaHipRt.hpp
Labels: Type:Enhancement, Type:Refactoring, Backend:HIP

#1666 Add SYCL README and fix FPGA CMake options
  README_SYCL.md
  cmake/alpakaCommon.cmake
Labels: Type:Enhancement, Backend:SYCL, Type:Documentation, Type:CMake

#1671 Smarter `atomic_ref` selection
  CMakeLists.txt
  cmake/alpakaCommon.cmake
  cmake/alpakaConfig.cmake.in
  cmake/tests/StdAtomicRef.cpp
  include/alpaka/atomic/AtomicAtomicRef.hpp
Labels: Type:Enhancement, Backend:OpenMP, Backend:TBB, Backend:Boost.Fiber, Backend:std::thread, Backend:Serial, Type:CMake

#1667 Refactor CUDA/HIP queues to reduce code duplication
  include/alpaka/dev/DevUniformCudaHipRt.hpp
  include/alpaka/queue/QueueUniformCudaHipRtBlocking.hpp
  include/alpaka/queue/QueueUniformCudaHipRtNonBlocking.hpp
  include/alpaka/queue/cuda_hip/QueueUniformCudaHipRt.hpp
  include/alpaka/queue/cuda_hip/QueueUniformCudaHipRtBase.hpp
Labels: Type:Enhancement, Type:Refactoring, Backend:CUDA, Backend:HIP

#1673 MemFenceOmp5: remove acq_rel
  include/alpaka/mem/fence/MemFenceOmp5.hpp
Labels: Type:Enhancement, Backend:OpenMP

#1619 Also run unit tests with zero dimensions
  include/alpaka/idx/MapIdx.hpp
  include/alpaka/kernel/TaskKernelGpuUniformCudaHipRt.hpp
  include/alpaka/mem/buf/oacc/Set.hpp
  include/alpaka/mem/buf/omp5/Set.hpp
  include/alpaka/mem/buf/uniformCudaHip/Set.hpp
  include/alpaka/mem/view/ViewAccessOps.hpp
  include/alpaka/mem/view/ViewSubView.hpp
  include/alpaka/meta/NdLoop.hpp
  include/alpaka/test/dim/TestDims.hpp
  include/alpaka/test/mem/view/Iterator.hpp
  include/alpaka/test/mem/view/ViewTest.hpp
  include/alpaka/vec/Vec.hpp
  include/alpaka/workdiv/WorkDivHelpers.hpp
  test/unit/mem/buf/src/BufTest.cpp
  test/unit/mem/view/src/ViewSubViewTest.cpp
  test/unit/vec/src/VecTest.cpp
  test/unit/warp/src/Activemask.cpp
  test/unit/warp/src/All.cpp
  test/unit/warp/src/Any.cpp
  test/unit/warp/src/Ballot.cpp
  test/unit/warp/src/GetSize.cpp
  test/unit/warp/src/Shfl.cpp
Labels: Type:Enhancement

#1674 Improve shared pointer handling in CUDA/HIP queue
  include/alpaka/queue/cuda_hip/QueueUniformCudaHipRt.hpp
Labels: Type:Enhancement, Type:Refactoring, Backend:CUDA, Backend:HIP
