Repository alpaka-group/alpaka, pull requests merged in 2022-10, with the labels that each got.

#1795 Make mangled CUDA kernel name as short as possible
  include/alpaka/kernel/TaskKernelGpuUniformCudaHipRt.hpp
Labels: Type:Refactoring, Backend:CUDA, Backend:HIP

#1812 CI: test ROCm 5.2.3
  script/gitlabci/job_hip5.2.yml
Labels: Type:Testing, Backend:HIP

#1804 Implement Acc tags
  example/CMakeLists.txt
  example/tagSpecialization/CMakeLists.txt
  example/tagSpecialization/src/tagSpecialization.cpp
  include/alpaka/acc/AccCpuFibers.hpp
  include/alpaka/acc/AccCpuOmp2Blocks.hpp
  include/alpaka/acc/AccCpuOmp2Threads.hpp
  include/alpaka/acc/AccCpuSerial.hpp
  include/alpaka/acc/AccCpuSyclIntel.hpp
  include/alpaka/acc/AccCpuTbbBlocks.hpp
  include/alpaka/acc/AccCpuThreads.hpp
  include/alpaka/acc/AccFpgaSyclIntel.hpp
  include/alpaka/acc/AccFpgaSyclXilinx.hpp
  include/alpaka/acc/AccGpuCudaRt.hpp
  include/alpaka/acc/AccGpuHipRt.hpp
  include/alpaka/acc/AccGpuSyclIntel.hpp
  include/alpaka/acc/AccOacc.hpp
  include/alpaka/acc/AccOmp5.hpp
  include/alpaka/acc/Tag.hpp
  include/alpaka/alpaka.hpp
  test/unit/acc/src/AccTagTest.cpp
Labels: Type:Enhancement
