Repository alpaka-group/alpaka, pull requests merged in 2022-07, with the labels that each got.

#1756 OpenMP fixes for clang 13
  cmake/alpakaCommon.cmake
Labels: Type:Bug, Type:Enhancement, Backend:CUDA, Type:CMake

#1759 CI Update for macOS
  .github/workflows/ci.yml
  README.md
Labels: Type:Enhancement, Type:Testing, OS:macOS

#1761 Remove ALPAKA_FN_HOST_ACC on defaulted functions
  include/alpaka/math/Complex.hpp
Labels: Type:Warning

#1762 CI Update for ROCm
  .gitlab-ci.yml
  README.md
  script/gitlabci/job_hip5.0.yml
  script/gitlabci/job_hip5.1.yml
  script/gitlabci/job_hip5.2.yml
Labels: Type:Enhancement, Type:Testing, Backend:HIP

#1763 Simplify clang installation
  .github/workflows/ci.yml
  script/install_clang.sh
Labels: Type:Enhancement, Type:Testing

#1767 HIP: use build-in `atomicAdd(double)`
  include/alpaka/atomic/AtomicUniformCudaHipBuiltIn.hpp
Labels: Type:Enhancement, Backend:HIP
