Repository alpaka-group/alpaka, pull requests merged in 2023-02, with the labels that each got.

#1912 Disable tests if used by `add_subdirectory`
  CMakeLists.txt
Labels: Type:Bug, Type:Enhancement, Type:Testing, Type:CMake

#1913 Raise required CMake version to 3.22
  .github/workflows/ci.yml
  CMakeLists.txt
  README.md
  docs/source/basic/example.rst
  example/CMakeLists.txt
  example/babelstream/CMakeLists.txt
  example/bufferCopy/CMakeLists.txt
  example/complex/CMakeLists.txt
  example/counterBasedRng/CMakeLists.txt
  example/heatEquation/CMakeLists.txt
  example/helloWorld/CMakeLists.txt
  example/helloWorldLambda/CMakeLists.txt
  example/kernelSpecialization/CMakeLists.txt
  example/monteCarloIntegration/CMakeLists.txt
  example/openMPSchedule/CMakeLists.txt
  example/parallelLoopPatterns/CMakeLists.txt
  example/randomCells2D/CMakeLists.txt
  example/randomStrategies/CMakeLists.txt
  example/reduce/CMakeLists.txt
  example/tagSpecialization/CMakeLists.txt
  example/vectorAdd/CMakeLists.txt
  script/gitlabci/job_clang.yml
  script/gitlabci/job_cuda11.0.yml
  script/gitlabci/job_cuda11.8.yml
  script/job_generator/versions.py
  test/CMakeLists.txt
  test/analysis/CMakeLists.txt
  test/common/CMakeLists.txt
  test/integ/CMakeLists.txt
  test/unit/CMakeLists.txt
Labels: Type:Enhancement, Backend:CUDA, Type:CMake

#1916 Remove old clang-cuda workaround
  include/alpaka/core/ConcurrentExecPool.hpp
  include/alpaka/event/EventGenericThreads.hpp
  include/alpaka/kernel/TaskKernelCpuThreads.hpp
  include/alpaka/queue/QueueGenericThreadsNonBlocking.hpp
  include/alpaka/test/event/EventHostManualTrigger.hpp
  test/unit/queue/src/QueueTest.cpp
Labels: Type:Refactoring, Backend:OpenMP, Backend:TBB, Backend:std::thread, Backend:Serial

#1918 Always inline with `ALPAKA_FN_INLINE`.
  include/alpaka/core/Common.hpp
Labels: Type:Enhancement

#1914 Fix compilation warnings
  include/alpaka/core/ApiHipRt.hpp
  include/alpaka/rand/RandUniformCudaHipRand.hpp
Labels: Type:Bug, Type:Enhancement, Backend:HIP

#1921 Update CI container to version 3.1
  .gitlab-ci.yml
  script/gitlabci/job_cuda11.0.yml
  script/job_generator/generate_job_yaml.py
Labels: Type:Testing

#1915 Add ROCm 5.4 support
  README.md
  script/job_generator/generate_job_yaml.py
  script/job_generator/versions.py
Labels: Type:Enhancement, Type:Testing, Backend:HIP

#1922 Restore macOS OpenMP jobs
  .github/workflows/ci.yml
  README.md
  script/homebrew/13.2.1/libomp.rb
  script/homebrew/14.2/libomp.rb
  script/install_omp.sh
Labels: Type:Bug, Type:Testing, Backend:OpenMP, OS:macOS
