Repository alpaka-group/alpaka, pull requests merged in 2024-06, with the labels that each got.

#2286 Align shared memory using alignas(16)
  include/alpaka/block/shared/dyn/BlockSharedMemDynUniformCudaHipBuiltIn.hpp
Labels: Type:Enhancement, Backend:CUDA, Backend:HIP

#2281 Additions to readthedocs documentation
  docs/source/basic/cheatsheet.rst
  docs/source/basic/install.rst
  docs/source/basic/library.rst
Labels: Type:Documentation

#2290 HIP: fix CMake relocatable device code option
  cmake/alpakaCommon.cmake
Labels: Type:Bug, Backend:HIP

#2297 remove unnecessary assignments inside the loop
  example/convolution2D/src/convolution2D.cpp
Labels: Type:Refactoring, Type:Example

#2293 An example using MdSpan to pass 2D data
  example/CMakeLists.txt
  example/conv2DWithMdspan/CMakeLists.txt
  example/conv2DWithMdspan/src/conv2DWithMdspan.cpp
Labels: Type:Example
